#colophon {
}

.site-footer {
  position: relative;
  padding: 30px 0;
  background: $footer-background;
  color: $footer-color;

  a{
    color:$footer-link-color;
    &:hover{
      color:$footer-color;
    }
  }

  .site-info {

  }
}


