/**
variables
 */


// type

$global-font-size: 1rem;

$line-height: 1.8;

$heading-top: 2rem;
$heading-bottom: 2rem;

// primary navigation

$menubg: $primary;
$menufontsize: 15px;
$menuhoverbg: $primary;
$menufontcolor: $white;
$menufonthovercolor: $warning;
$menubuttonsize: 50px;
$menubuttonradius: $btn-border-radius;

//container
$content-main-sidebar-padding-top: 32px;
$content-main-sidebar-gutter: 32px;

//xzoom

$xzoom-border-width: 1px;
$xzoom-border-defaultcolor: #f7f7f7;
$xzoom-zoom-border-width: 10px;
$xzoom-border-color: $primary;
$xzoom-preview-border-color: $black;
$xzoom-caption-fontcolor: #fff;


//footer

$footer-background: $black;
$footer-color: $white;
$footer-link-color: $warning;